<div class="pt-3">
    <div class="row type-1">
        <div class="col-md-8">
            <div class="bg-white rounded-1 overflow-hidden mb-3">
                <div style="overflow-y: auto; height: 400px;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Mã sản phẩm</th>
                                <th>Tên sản phẩm</th>
                                <th>Số lượng</th>
                                <th>Đơn giá</th>
                                <th>Tổng</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>SP0001</td>
                                <td>Sản phẩm 1</td>
                                <td>3</td>
                                <td>2,000,000</td>
                                <td>6,000,000</td>
                                <td>
                                    <button class="btn btn-danger p-1">Xóa</button>
                                </td>
                            </tr>
                            <tr>
                                <td>SP0001</td>
                                <td>Sản phẩm 1</td>
                                <td>3</td>
                                <td>2,000,000</td>
                                <td>6,000,000</td>
                                <td>
                                    <button class="btn btn-danger p-1">Xóa</button>
                                </td>
                            </tr>
                            <tr>
                                <td>SP0001</td>
                                <td>Sản phẩm 1</td>
                                <td>3</td>
                                <td>2,000,000</td>
                                <td>6,000,000</td>
                                <td>
                                    <button class="btn btn-danger p-1">Xóa</button>
                                </td>
                            </tr>
                            <tr>
                                <td>SP0001</td>
                                <td>Sản phẩm 1</td>
                                <td>3</td>
                                <td>2,000,000</td>
                                <td>6,000,000</td>
                                <td>
                                    <button class="btn btn-danger p-1">Xóa</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div>
                <div class="mb-2">
                    <button class="btn btn-sm btn-orange mr-2">
                        <i class="fas fa-filter"></i>
                    </button>
                    <button class="btn btn-sm btn-orange mr-2">
                        <i class="fas fa-list-ul"></i>
                    </button>
                </div>
                <div class="product-list">
                    <div class="row">
                        <div class="col">
                            <div class="item bg-white p-2">
                                <div class="image">
                                    <img src="./assets/media/images/prd_1.png">
                                </div>
                                <p class="text-success font-weight-bold">1,000,000đ</p>
                                <span class="product-name">Assam Black Tea</span>
                                <span class="product-attribute"></span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="item bg-white p-2">
                                <div class="image">
                                    <img src="./assets/media/images/prd_2.png">
                                </div>
                                <p class="text-success font-weight-bold">100,000đ</p>
                                <span class="product-name">Assam Black Tea</span>
                                <span class="product-attribute"> - Còn hàng</span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="item bg-white p-2">
                                <div class="image">
                                    <img src="./assets/media/images/prd_3.png">
                                </div>
                                <p class="text-success font-weight-bold">10,000đ</p>
                                <span class="product-name">Assam Black Tea</span>
                                <span class="product-attribute"> - Không đặc biệt</span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="item bg-white p-2">
                                <div class="image">
                                    <img src="./assets/media/images/prd_1.png">
                                </div>
                                <p class="text-success font-weight-bold">1,000,000đ</p>
                                <span class="product-name">Assam Black Tea</span>
                                <span class="product-attribute"></span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="item bg-white p-2">
                                <div class="image">
                                    <img src="./assets/media/images/prd_2.png">
                                </div>
                                <p class="text-success font-weight-bold">100,000đ</p>
                                <span class="product-name">Assam Black Tea</span>
                                <span class="product-attribute"> - Còn hàng</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 bg-white rounded-1">
                <div class="row m-0 mb-3">
                    <div class="sales-man">
                        <i class="far fa-user-circle mr-2"></i>
                        <span>Thanh</span>
                    </div>
                </div>
                <div class="d-flex align-items-center w-100 input-with-cancel mb-3">
                    <i class="fa fa-search mr-2"></i>
                    <input
                        type="text"
                        class="w-100"
                        placeholder="Tìm kiếm khách hàng"
                    >
                </div>
                <div class="row m-0 mb-4 align-items-center">
                    <div class="mr-auto d-flex align-items-center">
                        <i class="fas fa-tag mr-2"></i>
                        <select
                            name=""
                            class="form-control"
                        >
                            <option value="1">Bảng giá chung</option>
                        </select>
                    </div>
                    <div class="mr-4">
                        <input
                            class="mr-1"
                            type="checkbox"
                        >
                        <label
                            class="mb-0"
                            for=""
                        >Giao hàng</label>
                    </div>
                    <ng-container>
                        <div ngbDropdown>
                            <button
                                ngbDropdownToggle
                                class="dropdown-toggle btn"
                            >
                                <i class="fas fa-shopping-basket mr-2"></i>
                            </button>
                            <div
                                ngbDropdownMenu
                                class="dropdown-menu"
                            >
                                <a
                                    href="#"
                                    class="dropdown-item"
                                >
                                    <i class="fas fa-shopping-basket mr-2"></i>
                                    Bán trực tiếp
                                </a>
                                <a
                                    href="#"
                                    class="dropdown-item"
                                >
                                    <i class="fas fa-shopping-cart mr-2"></i>
                                    Khác
                                </a>
                            </div>
                        </div>
                    </ng-container>
                </div>
                <div>
                    <div class="sale-tab">
                        <ul
                            role="tablist"
                            class="nav nav-tabs"
                        >
                            <li class="nav-item">
                                <a
                                    role="tab"
                                    id="profile-tab"
                                    href="#bills"
                                    data-toggle="tab"
                                    class="nav-link active"
                                >
                                    Đơn hàng
                                </a>
                            </li>
                            <li class="nav-item">
                                <a
                                    role="tab"
                                    id="history-tab"
                                    href="#order"
                                    data-toggle="tab"
                                    class="nav-link"
                                >
                                    Đặt hàng
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <form
                            class="tab-pane active show"
                            id="bills"
                        >
                            <div class="form-group d-flex justify-content-between mb-2">
                                <span class="font-weight-bold">Tổng tiền</span>
                                <span>0</span>
                            </div>
                            <div class="form-group d-flex justify-content-between mb-2">
                                <span class="font-weight-bold">Giảm giá</span>
                                <span>0</span>
                            </div>
                            <div class="form-group d-flex justify-content-between mb-2">
                                <span class="font-weight-bold">Khách cần trả</span>
                                <span class="font-weight-bold text-success">0</span>
                            </div>
                            <div class="form-group d-flex justify-content-between mb-5">
                                <span class="font-weight-bold">Tiền trả khách</span>
                                <span>0</span>
                            </div>
                            <div class="d-flex w-100 input-with-cancel mb-5">
                                <i class="fa fa-pen"></i>
                                <input
                                    type="text"
                                    class="w-100"
                                    placeholder="Ghi chú"
                                >
                            </div>
                            <button
                                type="submit"
                                class="mt-4 w-100 btn btn-success py-3"
                                (click)="onCheckOut()"
                            >
                                Thanh toán
                            </button>
                        </form>
                        <form
                            class="tab-pane"
                            id="order"
                        >
                            <div class="form-group d-flex justify-content-between mb-2">
                                <span class="font-weight-bold">Tổng tiền</span>
                                <span>0</span>
                            </div>
                            <div class="form-group d-flex justify-content-between mb-2">
                                <span class="font-weight-bold">Giảm giá</span>
                                <span>0</span>
                            </div>
                            <div class="form-group d-flex justify-content-between mb-2">
                                <span class="font-weight-bold">Khách cần trả</span>
                                <span class="font-weight-bold text-success">0</span>
                            </div>
                            <div class="form-group d-flex justify-content-between mb-5">
                                <span class="font-weight-bold">Tiền trả khách</span>
                                <span>0</span>
                            </div>
                            <div class="d-flex w-100 input-with-cancel mb-5">
                                <i class="fa fa-pen"></i>
                                <input
                                    type="text"
                                    class="w-100"
                                    placeholder="Ghi chú"
                                >
                            </div>
                            <button
                                type="submit"
                                class="mt-4 w-100 btn btn-success py-3"
                                (click)="onCreateOrder()"
                            >
                                Đặt hàng
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>