<section class="c-wrapper">
    <div class="c-login">
        <img
            alt="logo"
            class="logo"
            src="./assets/media/images/logo_erp.png"
        >
        <form (ngSubmit)="onLogin()">
            <div class="form-group">
                <input
                    type="text"
                    name="username"
                    placeholder="Tên đăng nhập"
                    class="form-input form-control"
                    [(ngModel)]="formState.username"
                    [class.is-invalid]="formError.code && !formState.username"
                >
            </div>
            <div class="form-group">
                <input
                    type="password"
                    name="password"
                    placeholder="Mật khẩu"
                    class="form-input form-control"
                    [(ngModel)]="formState.password"
                    [class.is-invalid]="formError.code && !formState.password"
                >
            </div>
            <div class="form-group">
                <div
                    class="invalid-feedback"
                    [class.d-block]="formError.code"
                >
                    {{ formError.message }}
                </div>
            </div>
            <button
                type="submit"
                class="btn c-login__btn"
            >
                Đăng nhập
            </button>
        </form>
    </div>
</section>