// Page container
$c-page-container-width: 1380px; //  fixed page width
$c-page-fluid-container-padding: 60px; // fluid page padding

input,
a,
textarea {
    &:focus {
        outline: none;
    }
}
body {
    background-color: #eaeaea;
    font-size: 14px;
    
    .c-container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        max-width: 1024px;
        // height: calc(100vh - 104px);

        // content
        .c-warpper {
            -ms-box-orient: horizontal;
            display: -webkit-box;
            display: -ms-flexbox;
            display: -moz-flex;
            display: flex;

            &__left {
                width: 256px;
                margin-top: 22px;
                margin-right: 20px;
                margin-bottom: 20px;

                &--header {
                    min-height: 56px;
                    padding: 10px 0;

                    h4 {
                        font-size: 24px;
                        font-weight: bold;
                    }

                    h6 {
                        font-size: 20px;
                        font-weight: bold;
                    }
                }

                &--fitler {
                    height: 100%;
                }
            }

            &__right {
                width: 100%;
                margin-top: 22px;
                min-height: 400px;
                position: relative;
                margin-bottom: 20px;

                &--header {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    min-height: 56px;
                    padding: 10px 16px;
                    // background-color: #dee2e6;

                    h4 {
                        font-size: 24px;
                        font-weight: bold;
                        margin-bottom: 0;
                    }

                    h6 {
                        font-size: 20px;
                        font-weight: bold;
                        margin-bottom: 0;
                    }

                    .header-left {
                        display: flex;

                        &--item {
                            margin-left: 1rem;
                            padding: 0;

                            &:nth-child(1) {
                                margin-left: 0;
                            }

                            .form-control {
                                &:focus {
                                    border-color: #b7b7b7;
                                    // box-shadow: inset 0 1px 1px
                                    //         rgba(0, 0, 0, 0.075),
                                    //     0 0 0 3px rgba(0, 126, 255, 0.1);
                                }
                            }
                        }
                    }

                    .header-right {
                        .btn {
                            margin-right: 0.5rem;

                            &:nth-last-child(1) {
                                margin-right: 0;
                            }
                        }
                    }
                }

                &--content {
                    margin-top: 10px;

                    .status {
                        display: inline-block;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;

                    }

                    .cash-flow-panel {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 1rem;

                        .item {
                            display: flex;
                            justify-content: space-between;
                            flex: 0 0 22%;
                            font-size: 15px;
                            font-weight: bold;
                            padding: 1rem;
                            background-color: c-base-color(light, 2);
                            border-radius: 5px;

                            label {
                                margin-bottom: 0;
                            }

                            &:nth-child(1) {
                                span {
                                    color: #009688;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .c-container--fluid {
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;
    }
}
.table {
    margin-bottom: 0;
    thead {
        background: c-base-color(blue, 1);
        color: c-base-color(light, 1);
    }
    tr.active {
        background: c-base-color(blue, 1);
        color: c-base-color(light, 1);
    }
    a {
        color: c-base-color(blue, 1);
        cursor: pointer;

        &:hover {
            text-decoration: none;
        }
    }
    th, 
    td {
        vertical-align: middle;
    }

    .status {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
    }

    input[type='number'] {
        width: 60px;
        text-align: center;
        padding: 4px;
        border: 0;
        border-bottom: 1px solid c-base-color(grey, 2);
    }
}

// Desktop(576px and above)
@include c-media-above(sm) {

    // Container
    .c-container {
        max-width: 546px;
    }
}

// Desktop(768px and above)
@include c-media-above(md) {

    // Container
    .c-container {
        max-width: 738px;
    }
}

// Desktop(1024px and above)
@include c-media-above(lg) {

    // Container
    .c-container {
        max-width: 994px;
    }
}

// Desktop(1399px and above)
@include c-media-above(xl) {

    // Container
    .c-container {
        max-width: 1369px;
    }
}

// Desktop(1600px and above)
@include c-media-above(xxl) {

    // Container
    .c-container {
        max-width: 1570px;
    }
}

@include c-media-below(xl) {
    .c-container {
        max-width: 100%;
    }
}

.dashboard-menu {
    a {
        font-size: 24px;
        font-weight: 600;
        border-radius: 15px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, .15);
    }
}

.row {
    &.type-1 {
        margin: 0 -5px;
        [class*='col-'] {
            padding: 0 5px;
        }
    }
}

.rounded-1 {
    border-radius: 10px;
}

.sale-tab {
    .nav-tabs {
        margin-bottom: 20px;
    }
    .nav-item {
        .nav-link {
            padding: 0;
            padding: 6px 14px;
            border: 0;
            color: c-base-color(dark, 1);
            &.active {
                background: c-base-color(blue, 1);
                color: c-base-color(light, 1);
                border-radius: 5px 5px 0 0;
            }
        }
    }
    .tab-pane.active {
        display: flex;
        .form-group {
            span {
                &:nth-child(2):not(.small), input {
                    font-size: 15px;
                }
            }
            .form-control {
                height: auto;
                text-align: right;
            }
        }
    }
    .fa-credit-card {
        color: c-base-color(blue, 1);
        font-size: 24px;
    }
}
.suggest-money {
    margin: 0 -16px;
    background: #ededed;
    .btn {
        border-radius: 40px;
        font-size: 13px;
        background: c-base-color(light, 2);
        &:not(:last-child) {
            margin-right: 10px;
        }
    }
}

.btn {
    &:focus,
    &:focus-within {
        box-shadow: none;
    }
    &.btn-rounded {
        border-radius: 40px;
    }
}
.dropdown-menu {
    padding: 0;
}
.dropdown-item {
    padding: 12px;
    font-size: 13px;
    cursor: pointer;
}