.popover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.35) 3px 5px rgba(0,0,0,0.5);
    box-shadow: 0 5px 15px rgba(0,0,0,0.35);
}

.c-popover-xs {
    max-width: 300px;
    width: 300px; 
}

.c-popover-sm {
    max-width: 576px;
    width: 576px;
}

.c-popover-md {
    max-width: 768px;
    width: 768px;
}

.c-popover-lg {
    max-width: 1024px;
    width: 1024px;
}

.c-popover-xl {
    max-width: 1399px;
    width: 1399px;
}