.c-header {
    background: c-base-color(blue, 1);

    &__top {
        .nav-link-cus {
            font-size: .8rem;
            color: c-base-color(dark, 3);
            padding: 9px 10px;
            margin-left: 5px;

            i {
                font-size: .8rem;
                margin-left: 4px;
            }
        }

        .icon-bell {
            text-align: center;

            i {
                font-size: .8rem;
                background-color: c-base-color(light, 1);
                border-radius: 50%;
                width: 1.6rem;
                height: 1.6rem;
                line-height: 1.6rem;
                margin-bottom: 5px;
            }
        }

        .dropdown-menu-cus {
            padding: .5rem;
            left: -14px;
            top: 35px;
            min-width: 125px;
            position: relative;
            background-color: c-base-color(light, 2);

            &:before {
                content: "";
                position: absolute;
                top: -8px;
                right: 15px;
                display: block;
                width: 0;
                height: 0;
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                border-bottom: 7px solid c-base-color(light, 2);
            }

            .list-group .list-group-item {
                padding: .5rem .5rem;
                font-size: .9rem;
            }
        }

        .dropdown-item-cus {
            border-bottom: 1px solid #000;
            padding: 5px 0;
            font-size: 14px;
            margin-bottom: 5px;

            &:hover {
                background: c-base-color(light, 1);
            }

            .text {
                display: inline-block;
                width: 80%;
            }
        }

    }

    &__bottom {
        font-size: 12px;
        form {
            padding: 5px;
            background: #fff;
            width: 100%;
            display: flex;
            align-items: center;
            border-radius: 8px;
            .fas {
                margin: 0 10px;
            }
            input {
                border: 0;
                width: 100%;
                padding: 5px;
            }
        }
        .dropdown-toggle {
            &::after {
                display: none;
            }
        }
        .dropdown-menu {
            right: 0 !important;
            left: auto !important;
            white-space: nowrap;
            width: auto !important;
            transform: none !important;
            top: 100% !important;
        }
    }
}
