// Elevate shadow
$c-elevate-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05) !default;
$c-elevate-shadow-2: 0px 0px 13px 0px rgba(82, 63, 105, 0.1) !default;

// Dropdown shadow
$c-dropdown-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15) !default;

// Custom scrollbar color
$c-scroll-color: darken(#ebedf2, 6%) !default;

// Transition
$c-transition: all 0.3s !default;

// Global rounded border mode
$c-rounded: true !default;

// Border Radius
$c-border-radius: 4px !default;

// Layout Breakpoints(bootstrap responsive breakpoints)
// Define the minimum and maximum dimensions at which your layout will change, adapting to different screen sizes, for use in media queries.
$c-media-breakpoints: (
    // Extra small screen / phone
    xs: 0,
    // Small screen / phone
    sm: 576px,
    // Medium screen / tablet
    md: 768px,
    // Large screen / desktop
    lg: 1024px,
    //1024px,
    // Extra large screen / wide desktop
    xl: 1399px,
    // Big extra large screen / wide desktop
    xxl: 1600px
) !default;

// State Color
$c-state-colors: (
    // Metronic states
    brand:
        (
            base: #5d78ff,
            inverse: #ffffff,
        ),
    light: (
        base: #ffffff,
        inverse: #282a3c,
    ),
    dark: (
        base: #282a3c,
        inverse: #ffffff,
    ),
    // Bootstrap states
    primary:
        (
            base: #5867dd,
            inverse: #ffffff,
        ),
    success: (
        base: #0abb87,
        //1dc9b7,
        inverse: #ffffff,
    ),
    info: (
        base: #5578eb,
        inverse: #ffffff,
    ),
    warning: (
        base: #ffb822,
        inverse: #ffffff,
    ),
    danger: (
        base: #fd397a,
        inverse: #ffffff,
    )
) !default;

// Base colors
$c-base-colors: (
    grey: (
        1: #898c8d,
        2: #c4c4c4,
        3: #dcdcdc,
        4: #b8c0cd,
    ),
    light: (
        1: #eeeeee,
        2: #ffffff,
        3: #dcf4fc,
    ),
    dark: (
        1: #707070,
        2: #272727,
        3: #000000,
    ),
    danger: (
        1: #E54028
    ),
    blue: (
        1: #5F9AA8,
        2: #547C8E,
        3: #1b4ad4,
    ),
    yellow: (
        1: #ffeb3b,
        2: #fefced,
        3: #E9E5D9
    ),
    header: (
        1: #5E857F,
        2:#547772
    ),
    orange: (
        1: #F78248
    ),
    brown: (
        1: #E8DDCB,
        2: #A29588,
        3: #E9E5D9
    )
) !default;

// Social network colors(see: https://brandcolors.net/)
$c-social-colors: (
    facebook: (
        base: #3b5998,
        inverse: #ffffff,
    ),
    google: (
        base: #dc4e41,
        inverse: #ffffff,
    ),
    twitter: (
        base: #4ab3f4,
        inverse: #ffffff,
    ),
    instagram: (
        base: #517fa4,
        inverse: #ffffff,
    ),
    youtube: (
        base: #b31217,
        inverse: #ffffff,
    ),
    linkedin: (
        base: #0077b5,
        inverse: #ffffff,
    ),
    skype: (
        base: #00aff0,
        inverse: #ffffff,
    ),
) !default;

// Root Font Settings
$c-font-families: (
    regular: unquote("Poppins, Helvetica, sans-serif"),
    heading: unquote("Poppins, Helvetica, sans-serif"),
) !default;

// Root Font Settings
$c-font-size: (
    size: (
        desktop: 13px,
        tablet: 12px,
        mobile: 12px,
    ),
    weight: 300,
) !default;

// Page padding
$c-page-padding: (
    desktop: 25px,
    mobile: 15px,
) !default;

// Page container width
$c-page-container-width: 1380px !default;
$kt-page-container-width: 1380px; //  fixed page width
$kt-page-fluid-container-padding: 60px; // fluid page padding

// Custom Scroll(Perfect Scrollbar) size
$c-custom-scroll-size: 4px !default;
